{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": ["@babel/plugin-transform-modules-commonjs", "@babel/plugin-transform-export-namespace-from"],
  "ignore": [
    "node_modules"
  ],
  "parserOpts": { "allowReturnOutsideFunction": true }
}